<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Todolist app 3 (v2)</title>
</head>

<body>
    <div id="app" data-tilt data-tilt-scale="1.2">
        <div class="header">
            <h2>Todo List App</h2>
            <hr>
            <h5>Добавить задачу:</h5>
        </div>
        <div class="add_task">
            <div class="add_task__input">
                <input type="text" v-model="newTask.title" @keyup.enter="addTask()" placeholder="Заголовок">
                <textarea v-model="newTask.desc" placeholder="Описание (необязательно)"></textarea>
            </div>
            <button class="add_task__btn" @click="addTask()">➕</button>
        </div>
        <div>
            Фильтр/поиск: <input type="text" v-model="filterText" placeholder="поисковый запрос">
            <p> <input type="checkbox" v-model="hideCompleteList"> - Скрыть список завершённых
                задач ({{checkedTasksCount}})</p>
        </div>
        <div class="stats">
            <h3 class="stats__title">Текущие задачи ({{doTasksCount}})</h3>
            <task v-for="(task, index) in taskList" :key="index" :data="task" :filter="filterText" v-if="!task.isDone"
                @change-task-status="changeStatusTask(index)" @toggle-task-editing="toggleTaskEditing(index)">
            </task>

            <div v-show="!hideCompleteList">
                <h3 class="stats__title">Завершённые задачи ({{checkedTasksCount}})</h3>
                <task v-for="(task, index) in taskList" :key="index" :data="task" :filter="filterText"
                    v-if="task.isDone" @change-task-status="changeStatusTask(index)"
                    @toggle-task-editing="toggleTaskEditing(index)" class="done1">
                </task>
            </div>
        </div>
        <hr>
        <p>***</p>
        <p>Редактирование title/desc задачи - двойной клик.</p>
        <p>В описании к задаче слова заменяются 'важно' - '☝️', 'срочно' - '🕑'. </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
    <script type="text/javascript" src="vanilla-tilt.js"></script>
</body>

</html>