<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list 1 (vue js 3)</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">Todo list</div>
                <div class="form">
                    <input type="text" :value="valueInput" @input="handleInput" @keypress.enter="addTask" placeholder="Enter task here" />
                    <button class="btn" @click="addTask">add task</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>
                <span>To Do</span>
                <span class="task-num">{{ needDoList.length }}</span>
            </h2>
            <ul class="task-list">
                <li v-for="(task, index) in needDoList" :key="task.id">
                    <div>
                        <input type="checkbox" @change="moveToCompleteList(index)"/>
                        <span>{{ task.title }}</span> 
                    </div>
                    <div>
                        [{{ task.datetime }}]
                        <button class="btn-remove" @click="removeTaskFromDoList(index)">remove</button>
                    </div>
                </li>
            </ul>
            <h2>
                <span>Done</span>
                <span class="task-num">{{ completeList.length }}</span>
            </h2>
            <ul class="task-list complete-list">
                <li v-for="(task, index) in completeList" :key="task.id">
                    <div>
                        <input type="checkbox" @change="moveToDoList(index)" checked />
                        <span>{{ task.title }}</span> 
                    </div>
                    <div>
                        [{{ task.datetime }}]
                        <button class="btn-remove" @click="removeTaskFromCompleteList(index)">remove</button>
                    </div>
                </li>
            </ul>
            <h2>
                <span>Recycle</span>
                <span class="task-num">{{ recycleList.length }}</span>
            </h2>
            <ul class="task-list complete-list">
                <li v-for="(task, index) in recycleList" :key="task.id">
                    <div>
                        <span>{{ task.title }} </span> 
                    </div>
                    <div>
                        [{{ task.datetime }}]
                        <button class="btn-recover" @click="recoverTaskFromRecycleList(index)">recover</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>
